a {
    @include typeface-2(p2, desktop);
    text-decoration: none;
    color: $black-normal;
    transition: .5s ease;

    &:hover{
        opacity: .9;
    }
}

.btn {
    background: linear-gradient(221deg, $secondary-normal 14.43%, $primary-normal 85.28%);
    border-radius: 16px;
    padding: 12px 32px;
    transition: .3s ease;
    color: $white-light;

    box-shadow: 0px 43px 60px 0px rgba(169, 80, 196, 0.14), 
    0px 12.963px 18.088px 0px rgba(169, 80, 196, 0.09), 
    0px 5.384px 7.513px 0px rgba(169, 80, 196, 0.07), 
    0px 1.947px 2.717px 0px rgba(169, 80, 196, 0.05);

    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 43px 60px 0px rgba(169, 80, 196, 0.28), 
        0px 12.963px 18.088px 0px rgba(169, 80, 196, 0.18), 
        0px 5.384px 7.513px 0px rgba(169, 80, 196, 0.14), 
        0px 1.947px 2.717px 0px rgba(169, 80, 196, 0.09);
    }
}